body {
	padding-top: 70px;
}
header .btn {
	margin-right: 20px;
}

header .btn:last-child {
	margin-right: 0;
}

.panel {
	width: 832px;
	margin: 0 auto 20px;
}

.list-container {
	width: 800px;
	height: 200px;
	overflow: hidden;
}

.list {
	width: 100%;
	height: 100%;
}

.list .item {
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 10px;
	border-right: 1px dashed #ccc;
}

.list .item:last-child{
	border-right: 0;
}